body{
    margin: 0px;
    padding: 0px;
    background-image: url(Images/background.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
    min-height: 500px;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-bar{
    display: grid;
    grid-template-columns: 10% 20%;
    color: white;
}
.top-bar .phone-number, .time{
    text-align: center;
padding:  20px;
}
/* TOP BAR CLOSE */
/* nav bar open */
.nav-bar{
    display: grid;
grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
padding: 20px;
background-color: rgba(0, 0,255, 0.3)
}
.nav-bar .tittle{
    text-align:center ;
    font-size: 30px;
    color: blue;

    
}
.nav-bar .menu-items{
    height: 30px;
    padding-top: 10px;
    color: :white


}

/* nav bar closed */
/* home content open */
.home-content{
    padding: 200px 100px;
    padding-right: 20px;
}
.home-content .tittle{font-size: 80px;
    color: red;

}
.home-content .description{
    font-size: 20px;
    color: white;
}
.home-content .button-group button{
    padding: 10px;
    background-color: rgba(0, 0,0,0);
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

/* home content close */
